<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Planner</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

        <!-- GOOGLE FONT LINKS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container-fluid date">
        <!-- Date will be updated based on current date, this is just a placeholder date -->
        <h1 id="date_title">{{date}} Planner</h1>
    </div>

    <div class="container-fluid task">

        <!-- Front Of Card -->
        <div class="front">
            <h2>Todo List</h2>
            <!-- Form for todo list -->
            <form action="{{url_for('todo')}}", method='POST'>
                <div class="input-group mb-3">
                        <input type="text" class="form-control" name='new_todo', id='new_todo', placeholder="Type New Task" aria-label="New todo" aria-describedby="add new todo">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Submit</button>
                    </div>
                </div>
            </form>
            <!-- If there is an empty database, display this message -->
            {% if message %} 
                <h2 id='empty_db'>{{message}}</h2>
            {% endif %}
            <ul>
                <!-- List and display each task from the database -->
                {% for tasks in all_tasks %}
                    <li><span id='task'>{{tasks.task}}</span> <a href="{{url_for('delete_todo', task_id=tasks.id)}}"><i class="fas fa-trash"></i></a></li>
                {% endfor %}
            </ul>
        </div>

        <!-- Back Of Card -->
        <div class="back">
            <h2>Current Goals</h2>
            <form action="{{url_for('add_new_goal')}}", method='POST'>
                <div class="input-group mb-3">
                        <input type="text" class="form-control" name='new_goal', id='new_goal', placeholder="Type New Goal" aria-label="New goal" aria-describedby="Add new goal">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Submit</button>
                    </div>
                </div>
            </form>
            {% if goals|length == 0 %}
                <h2 id='empty_db'>No Current Goals</h2>
            {% else %}
                {% for goal in goals %}
                    {% if goal.date_finished == None %}
                        <ol>
                            <li id='goal_name'>
                                <p>{{goal.goal}} <span id='date_started'>Date Started: {{goal.date_started}}</span> <a id='delete_goal' href="{{url_for('delete_goal', goal_id=goal.id)}}"><i class="fas fa-trash"></i></a> <a href="{{url_for('complete_goal', goal_id=goal.id)}}"><i class="fas fa-clipboard-check" id='complete_goal'></i></a></p>
                            </li>
                        </ol>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <section>
        <button class='btn' id='swap'>Flip</button>
    </section>
    <div id="panel"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/1e35e93db4.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>


